<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <a href="/" class="navbar-brand">WebStore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Mantenimientos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLinkActive="active" routerLink="/productos">Productos</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/marcas">Marcas</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/categorias">Categorias</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/medidas">Medidas</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/nuevoProducto">Nuevo Producto</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Otras Opciones</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Movimientos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLinkActive="active" routerLink="/entradas">Entradas</a>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/salidas">Salidas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLinkActive="active" routerLink="/kardex">Kardex</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/ajustes" *ngIf="ajustes.logeado">Configuracion</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="nav-link" routerLinkActive="active" routerLink="/login" *ngIf="!ajustes || !ajustes.logeado">Inciar Session</a>
    <div class="dropdown1" style="width: 50px;height:  25px;text-align:  center;">
      <span><i class="fas fa-shopping-cart"></i></span>
      <div class="dropdown-content">
        <app-cart-shopping></app-cart-shopping>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>


<!--div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mt-4">
        <div class="card-body">
          <h3 class="card-title">Agregar un nuevo item</h3>
          <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mt-4">
        <div class="card-body">
          <app-todo></app-todo>
        </div>
      </div>

    </div>
  </div>
</div-->