<p>
  marcas works!
</p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <label for="codigoMarca">Codigo</label>
          <input type="number" class="form-control" id="codigoMarcas" [(ngModel)]="cod" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="descripcionMarca">Descripcion</label>
          <input type="text" class="form-control" id="descripcionMarcas" placeholder="ej: nombre de marca" [(ngModel)]="desc" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="button" (click)="guardar()" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group mt-4">
        <li class="list-group-item list-group-item-action d-flex justify-content-between aling-items-center" *ngFor="let marca of marcas | async">
          <span class="cursor-hover" (click)="updateTodo(item.$key, item.isChecked)">
            {{marca.id}} - {{marca.descripcion}}
          </span>
          <span class="cursor-hover" (click)="removeTodo(item.$key)">
            <i class="fas fa-trash"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>