<p>
  shipping works!
</p>
<div class="card col-xl-12 col-lg-12">
  <h4>Elija el método de envío</h4>
  <hr>
  <div class="table-responsive">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th></th>
          <th>Método de envío</th>
          <th>Tiempo de entrega</th>
          <th>Cuota de manejo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="custom-control custom-radio mb-0">
              <input class="custom-control-input" type="radio" id="courier" name="shipping-method" checked="">
              <label class="custom-control-label" for="courier"></label>
            </div>
          </td>
          <td><span class="text-medium">Mensajero</span><br><span class="text-muted text-sm">Todas las direcciones (zona
              predeterminada), Guatemala</span></td>
          <td>2 - 4 dias</td>
          <td>Q22.50</td>
        </tr>
        <tr>
          <td>
            <div class="custom-control custom-radio mb-0">
              <input class="custom-control-input" type="radio" id="local" name="shipping-method">
              <label class="custom-control-label" for="local"></label>
            </div>
          </td>
          <td><span class="text-medium">Envio Local</span><br><span class="text-muted text-sm">Todas las direcciones (zona
              predeterminada), Guatemala</span></td>
          <td>hasta una semana</td>
          <td>Q10.00</td>
        </tr>
        <tr>
          <td>
            <div class="custom-control custom-radio mb-0">
              <input class="custom-control-input" type="radio" id="flat" name="shipping-method">
              <label class="custom-control-label" for="flat"></label>
            </div>
          </td>
          <td><span class="text-medium">Tarifa plana </span><br><span class="text-muted text-sm">Todas las direcciones (zona
              predeterminada)
            </span></td>
          <td>5 - 7 dias</td>
          <td>Q33.85</td>
        </tr>
        <tr>
          <td>
            <div class="custom-control custom-radio mb-0">
              <input class="custom-control-input" type="radio" id="ups" name="shipping-method">
              <label class="custom-control-label" for="ups"></label>
            </div>
          </td>
          <td><span class="text-medium">Envío terrestre de UPS</span><br><span class="text-muted text-sm">Todas las direcciones
              (zona predeterminada)
            </span></td>
          <td>4 - 6 dias</td>
          <td>Q18.00</td>
        </tr>
        <tr>
          <td>
            <div class="custom-control custom-radio mb-0">
              <input class="custom-control-input" type="radio" id="pickup" name="shipping-method">
              <label class="custom-control-label" for="pickup"></label>
            </div>
          </td>
          <td><span class="text-medium">Recogida local de la tienda</span><br><span class="text-muted text-sm">Todas las
              direcciones (zona predeterminada)</span></td>
          <td>—</td>
          <td>Q0.00</td>
        </tr>
        <tr>
          <td>
            <div class="custom-control custom-radio mb-0">
              <input class="custom-control-input" type="radio" id="locker" name="shipping-method">
              <label class="custom-control-label" for="locker"></label>
            </div>
          </td>
          <td><span class="text-medium">Recoger en Unishop Locker </span><br><span class="text-muted text-sm">Todas las direcciones
              (zona predeterminada), Guatemala</span></td>
          <td>—</td>
          <td>Q9.99</td>
        </tr>
        <tr>
          <td>
            <div class="custom-control custom-radio mb-0">
              <input class="custom-control-input" type="radio" id="global" name="shipping-method">
              <label class="custom-control-label" for="global"></label>
            </div>
          </td>
          <td><span class="text-medium">Unishop Global Export</span><br><span class="text-muted text-sm">Todas las direcciones
              (zona predeterminada), fuera de la ciudad de Guatemala</span></td>
          <td>3 - 4 dias</td>
          <td>Q25.00</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="float-left">
      <a class="btn btn-outline-secondary float-left">
        <i class="fas fa-arrow-left"></i>
        <span class="hidden-xs">&nbsp;Regresar</span>
      </a>
    </div>
    <div class="float-right">
      <a class="btn btn-primary float-right">
        <span class="hidden-xs">Continuar&nbsp;</span>
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>