<p>
  cart-shopping works!
</p>
<div style="background-color: antiquewhite; width: 400px;">
  compra
  <ul class="list-group mt-4">
    <li class="list-group-item list-group-item-action d-flex justify-content-between aling-items-center" *ngFor="let comp of compra; index as i">
      <span>
        <img [src]="comp.imagenes[0]" style="height: 35px; width: 55px;">{{comp.id}} - {{comp.nombre}} / {{comp.precio |
        currency:'Q.' }}
      </span>
      <span class="cursor-hover" (click)="borrarCompra(i)">
        <i class="fas fa-trash"></i>
      </span>
    </li>
  </ul>
  <div class="text-center">
    <button type="button" class="btn btn-warning" (click)="procesarCompra()">Procesar Compra</button>
  </div>
</div>