<!--div class="container">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="card mt-4">
            <div class="card-body">
                <form (ngSubmit)="guardarProducto()">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"><a class="nav-link active" href="#facturar" data-toggle="tab" role="tab">Facturacion</a></li>
                        <li class="nav-item"><a class="nav-link" href="#envio" data-toggle="tab" role="tab">Envio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#pago" data-toggle="tab" role="tab">Pago</a></li>
                        <li class="nav-item"><a class="nav-link" href="#confirmar" data-toggle="tab" role="tab">Confirmar</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="facturar" role="tabpanel">
                            Facturar
                            <app-direccion></app-direccion>
                        </div>
                        <div class="tab-pane fade" id="envio" role="tabpanel">
                            Enviar
                            <app-shipping></app-shipping>
                        </div>
                        <div class="tab-pane fade" id="pago" role="tabpanel">
                            Pagar
                            <app-payment></app-payment>
                        </div>
                        <div class="tab-pane fade" id="confirmar" role="tabpanel">
                            Confirmar
                            <app-review></app-review>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div-->
<div class="container">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="card mt-4">
            <div class="card-body">
                <form (ngSubmit)="guardarProducto()">
                    <h1>Confirmar tu Compra</h1>
                    <div class="tab">
                        <app-direccion [obj1]="confirmacion.facturacion" (obj)="confirmacion.facturacion"></app-direccion>
                    </div>
                    <div class="tab">
                        <app-shipping [obj1]="confirmacion.envio" (obj)="confirmacion.envio"></app-shipping>
                    </div>
                    <div class="tab">
                        <app-payment [obj1]="confirmacion.pago" (obj)="confirmacion.pago"></app-payment>
                    </div>
                    <div class="tab">
                        <app-review></app-review>
                    </div>
                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <button type="button" id="prevBtn" (click)="nextPrev(-1)">Regresar</button>
                            <button type="button" id="nextBtn" (click)="nextPrev(1)">Siguiente</button>
                            <button type="button" (click)="consulta()">consultar</button>
                        </div>
                    </div>
                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;margin-top:40px;">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>